/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles spécifiques pour la navigation */
nav {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-container .logo a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; /* Centrer les liens de navigation */
    flex: 1; /* Permet aux liens de navigation de prendre tout l'espace possible */
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #000000;
}

button.contact-btn {
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

/* Styliser le lien à l'intérieur du bouton */
button.contact-btn a {
    color: white;
    text-decoration: none;
}

button.contact-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #000000;
}

/* Styliser le lien à l'intérieur du bouton au survol */
button.contact-btn:hover a {
    color: black;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#hero {
    text-align: center;
    padding: 100px 20px;
    background: url('background.jpg') no-repeat center center/cover;
    color: #fff;
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2em;
}

#hero .transparent-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #000000;
    background-image: url('path/to/your/transparent-image.png');
}

#about, #projects, #contact {
    padding: 50px 20px;
    background-color: #6f6f6f;
    margin-bottom: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #000000;
}

h1{
    text-align: center;
}

#about h1 {
    text-align: left; /* Ajustez l'alignement comme nécessaire */
    margin-left: 0; /* Ajustez la marge à gauche comme nécessaire */
}

p {
    color: #000000;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer .social-icon {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

footer .social-icon:hover {
    transform: scale(1.2);
}

/* Styles spécifiques pour les projets */
#projects .project {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#projects .project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#projects .project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Formulaire de contact */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
    max-width: 400px; /* Réduit encore la largeur maximale du formulaire */
    margin: 0 auto; /* Centre le formulaire dans la page */
    padding: 20px; /* Ajoute du padding autour du formulaire */
    background-color: #f8f8f8; /* Ajoute une légère couleur de fond pour le formulaire */
    border-radius: 8px; /* Ajoute des coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet de profondeur */
}

form label {
    margin-bottom: 5px;
    color: #000000;
    width: 100%; /* Prend toute la largeur disponible */
    text-align: left; /* Aligne le texte à gauche */
}

form input, form textarea {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 350px; /* Définit une largeur maximale plus petite pour les champs */
    border: 2px solid #828282;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000; /* Corrige la couleur du texte pour une meilleure lisibilité */
}

form input[type="submit"] {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    width: auto; /* Ajuste la largeur du bouton */
    align-self: center; /* Centre le bouton horizontalement */
}

form input[type="submit"]:hover {
    background-color: #333333; /* Change la couleur de fond au survol */
}

/* Styles pour les liens "Voir plus" */
.view-more {
    color: white; /* Change la couleur du texte en blanc */
    text-decoration: none; /* Enlève la décoration du texte (soulignement) */
    font-weight: bold; /* Rend le texte gras */
    padding: 10px 15px; /* Ajoute un peu de padding pour l'espacement */
    transition: color 0.3s, background-color 0.3s; /* Ajoute une transition pour la couleur et le fond */
    background-color: transparent; /* Ajoute un fond transparent par défaut */
    border-radius: 5px; /* Ajoute des coins arrondis pour un effet visuel agréable */
}

.view-more:hover {
    color: black; /* Change la couleur du texte au survol */
    background-color: white; /* Change la couleur du fond au survol */
}
